{
    "env": {
      "browser": true,
      "es2021": true,
      "node": true
    },
    "extends": [
      "eslint:recommended",
      "next",
      "plugin:@next/next/recommended"
    ],
    "rules": {
      "complexity": "off",
      "quotes": [
        "error",
        "single",
        { "avoidEscape": true, "allowTemplateLiterals": true }
      ]
    }
  }
  
